@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div p {
  margin: 0;
}

.sidebar-link {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
}

.sidebar-link:hover {
  background-color: #ffe0c2;
}

.sidebar-link.active {
  background-color: #ffbf8f;
  font-weight: bold;
}

/* Responsive: Hide sidebar on smaller screens */
@media screen and (max-width: 1080px) {
  .sidebar-container {
    display: block;
  }

  .toggle-btn {
    display: block;
  }
}

.tiptap-editor {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.tiptap-editor p {
  margin: 0;
}

.ProseMirror:focus {
  outline: none;
}

.MuiBox-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.active-link {
  background-color: #ffe3cb;
  color: #ff7800 !important;
  border-radius: 4px;
  font-weight: bold !important;
}

.fc-h-event {
  border: 1px solid #ffffff !important;
  border-radius: 4px !important;
  padding-left: 4px !important;
}

/* calendar-theme.css */
.fc {
  font-family: "Roboto", sans-serif !important;
}

.fc-toolbar-title {
  color: #000000;
  font-weight: 500;
  @media screen and (max-width: 786px) {
    font-size: 18px !important;
  }
}

.fc-button {
  background-color: #ff7800 !important;
  text-transform: capitalize !important;
  border: none !important;
  color: #fff !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

.fc-toolbar {
  @media screen and (max-width: 786px) {
    flex-direction: column !important;
    align-items: start !important;
    gap: 10px;
  }
}

/* .ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #adb5bd;
  pointer-events: none;
  height: 0;
} */

.epr_-rvl3je {
  border: none !important;
}
